/*=============================General=============================*/

.container{
	max-width: 1200px !important;
}

hr.divisor-line{
	width: 98%;
	float: left;
	position: relative;
	border: 0.5px solid;	
}

hr.form-divisor-line{
	width: 98%;
	float: left;
	position: relative;
	margin-left: 1%;
	margin-right: 1%;
	border: 1px solid;
}
/*=============================LOGIN=============================*/
/*=====Estilos del Index=====*/
/*Cabecera*/
header,
footer
.fondo-opaco,
#inicio-content,
.cintillo{
	width: 100%;
	float: left;
	position: relative;
}

header{
	background-color: #4682B4;
}

.cintillo{
	/*width: 100%;*/
	min-height: 40px;
	background: #ffffff;
}

.cintillo .container{
	border-bottom: 2px #B21624 solid;
	padding-top: 5px; 
	padding-bottom: 5px;
}

.cintillo figure.pull-right img{
	width: auto;
	height: 46px;
}

#navbar-login{	
	background-color: #4682B4;
}

.navbar-default {
	/*background: transparent;*/
    border: none;
}

a.navbar-brand{
	color: #ffffff !important;
}

img.loading{
	display: none;
	width: 33px;
	height: 33px;
	float: right;
	position: relative;
}

/*Portada*/
#portada{
	width: 100%;
	height: 100%;
	position: absolute;
	/*min-height: 700px;
	margin-top: 90px;*/
	background: transparent url(../img/sanidad2.jpg) 0 0 scroll no-repeat;
	background-size: 100%;
	background-position: center top;
}
.fondo-opaco{
	/*min-height: 700px;*/
	height: 100%;
	padding-top: 190px;
	background: none rgba(0, 0, 0, 0.50) repeat;
}
.fondo-opaco #mensaje{
	width: 100%;
	position: absolute;
	margin-top: -60px;
	background: transparent;
	display: none;
}
 #registro-usuario{
 	padding-top: 20px;
 }
.form-horizontal .mensaje{
	width: 100%;	 
	margin-top: -15px;
	position: absolute;
	background: transparent;
	display: none;
}

img.countdown{
	width: 20px;
	height: 20px;
	margin-left: 5px;
	margin-right: 5px;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	border: 1px #56A756 solid;
}

.form-horizontal .mensaje .alert{
	display: table;
	margin: 0 auto;
}

.fondo-opaco h2,
.fondo-opaco p{
	color: #ffffff;
}

.fondo-opaco p{
	text-align: justify;
}

.fondo-opaco button{
	display: table;
	margin: 30px auto;
}

/*=============================PANTALLA PRINCIPAL=============================*/

#head,
#seccion1,
#seccion2,
#seccion3,
#footer,
#footer2{
	width: 100%;
	float: left;
	position: relative;
	padding: 0px 20px;
}

/*Cabecera*/

#seccion1{
	min-height: 40px;
}

#seccion1 label.nav-titulo{
	text-align: right;
	padding: 5px;
	font-size: 25px;
	font-family: oswaldregular;
}

#nav-menu-principal{
	margin: 0px;
	background: transparent;
	border: none;
	box-shadow: none;
}

.divider{
	margin: 2px 0px !important;
	border: 1px solid;
}


/*----------SECCION 2----------*/

#seccion2{
	padding: 0 !important;
	min-height: 450px;
	background: transparent;
}

#img-carousel{
	width: 100%;
	min-height: 550px;
}

#img-carousel .carousel-control{
	background: transparent !important;
}

.carousel-caption{
	font-family: oswaldregular;
	font-size: 40px;
	color: #F8FCFA;
}

#img-carousel .carousel-inner .item .item-text{	
	position: absolute;
	padding: 20px;
	font-size: 40px;
	font-family: oswaldlight;
	font-weight: lighter;
	color: #ffffff;
	text-shadow: 3px 3px 6px #333333;
}	

#img-carousel > .carousel-inner > .item{
	height: 550px;		
}

/*----------SECCION 3----------*/
#seccion3{
	min-height: 400px;
	padding: 60px 0 !important;
	background: linear-gradient(to bottom, #e7e7e7 17%, #FFFFFF 83%);	*/
}

#seccion3 label.titulo{
	width: 100%;
	float: left;
	position: relative;
	font-size: 35px;
	font-family: oswaldlight;
	font-weight: lighter;
	color: #333333;
}

#seccion3 p.parrafo{
	width: 100%;
	float: left;
	position: relative;
	padding: 10px 0px;
	text-align: justify;
	font-size: 15px;
	font-family: oswaldlight;
	font-weight: lighter;
	color: #333333;
}

.sub-cabecera{
	width: 100%;
	float: left;
	position: relative;
	padding: 20px 10px;
	background: #333333;
}

.sub-cabecera label{
	width: 100%;
	float: left;
	position: relative;
	text-align: center;
	font-size: 25px;
	font-family: oswaldlight;
	font-weight: lighter;
	color: #ffffff;
}

#seccion3 #contenido{
	border-left: 1px solid #333333;
	border-right: 1px solid #333333;
}

#contenido .info-contenido{
	width: 100%;
	float: left;
	position: relative;
}

#contenido .info-contenido .circle{
	width: 40px;
	height: 40px;
	float: left;
	position: relative;
	padding: 10px;
	background: #333333;
	color: #ffffff;
	font-size: 18px;
	font-weight: bold;
	-webkit-border-radius: 30px;
	-moz-border-radius: 30px;
	border-radius: 30px;
}

#contenido .info-contenido .info-titulo{
	float: left;
	position: relative;
	padding: 0px 10px;
	font-size: 25px;
	font-family: oswaldlight;
	font-weight: lighter;
	color: #333333;
}

#contenido .info-contenido .info-parrafo{
	width: 100%;
	float: left;
	position: relative;
	padding: 15px 0px;
	text-align: justify;
	font-size: 15px;
	font-family: oswaldlight;
	font-weight: lighter;
}


.op-list{
	padding-top: 20px;
	padding-bottom: 20px;
}
.op-list .list-group{
	box-shadow: none !important;
}

.op-list .list-group .list-group-item{
	border: 1px solid #333333;
	background: #EEF7F2;
	color: #00A951;
	font-size: 18px;
	font-family: oswaldregular;
	font-weight: lighter;
}
.op-list .list-group .list-group-item span{
	float: right;
	font-weight: bold;
}
.op-list .list-group .list-group-item:focus,
.op-list .list-group .list-group-item:hover{
	background: #DCEFE5;
}
/*----------FOOTER----------*/
#footer{
	min-height: 250px;
	padding: 20px;
	background: #e7e7e7;
}

#footer #contenido{
	border-left: 1px solid #333333;
	border-right: 1px solid #333333;
}

#footer .div-evento{
	width: 100%;
	float: left;
	position: relative;
	padding: 10px 0px;
}

#footer .div-evento .glyphicon{
	color: #333333;
	font-size: 15px;
}

#footer .div-evento .fecha-evento{
	float: left;
	position: relative;
	text-decoration: none;
	color: #777777;
	font-size: 15px;
	font-family: oswaldregular;
	font-weight: lighter;
}

#footer .div-evento .fecha-evento:hover,
#footer .div-evento .fecha-evento:focus{
	color: #333333;
}

#footer .div-evento .desc-evento{
	float: left;
	position: relative;
	text-decoration: none;
	color: #333333;
	font-size: 15px;
	font-family: oswaldregular;
	font-weight: lighter;
}

#footer .div-evento .desc-evento:hover,
#footer .div-evento .desc-evento:focus{
	color: #777777 !important;
}

#footer .div-evento .desc-evento p{
	width: 100%;
	float: left;
	position: relative;
	padding: 10px 0px;
	text-align: justify;
}

#footer .footer-title{
	width: 100%;
	float: left;
	position: relative;
	padding: 10px 5px;
	color: #333333;
	font-size: 22px;
	font-family: oswaldregular;
	font-weight: lighter;
}

#footer .footer-nav-link{
	width: 100%;
	float: left;
	position: relative;
	padding: 10px 5px;
	text-decoration: none;
	color: #333333;
}
#footer .footer-nav-link:hover,
#footer .footer-nav-link:focus{	
	color: #333333 !important;
}
/*----------FOOTER 2----------*/
#footer2{
	background: #333333;
}

#footer2 label{
	width: 100%;
	float: left;
	position: relative;
	padding: 10px;
	color: #ffffff;
	text-align: center;
	font-size: 18px;
	font-family: oswaldregular;
}