/*============================Tipografías==========================*/
@font-face {
    font-family: 'fira_sansbold';
    src: url('../fonts/firasans-bold-webfont.woff2') format('woff2'),
         url('../fonts/firasans-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'fira_sansbold_italic';
    src: url('../fonts/firasans-bolditalic-webfont.woff2') format('woff2'),
         url('../fonts/firasans-bolditalic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'fira_sansitalic';
    src: url('../fonts/firasans-italic-webfont.woff2') format('woff2'),
         url('../fonts/firasans-italic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'fira_sanslight';
    src: url('../fonts/firasans-light-webfont.woff2') format('woff2'),
         url('../fonts/firasans-light-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'fira_sanslight_italic';
    src: url('../fonts/firasans-lightitalic-webfont.woff2') format('woff2'),
         url('../fonts/firasans-lightitalic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'fira_sansmedium';
    src: url('../fonts/firasans-medium-webfont.woff2') format('woff2'),
         url('../fonts/firasans-medium-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'fira_sansmedium_italic';
    src: url('../fonts/firasans-mediumitalic-webfont.woff2') format('woff2'),
         url('../fonts/firasans-mediumitalic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'fira_sansregular';
    src: url('../fonts/firasans-regular-webfont.woff2') format('woff2'),
         url('../fonts/firasans-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

/*=============================General=============================*/
body,
a,
p,
label,
h1,
h2,
h3,
h4,
h5,
h6{
	font-family: "fira_sansregular" !important;
}

.container{
	max-width: 1200px !important;
}

hr.divisor-line{
	width: 98%;
	float: left;
	position: relative;
	border: 0.5px solid;	
}

hr.divisor-line-2{
	width: 200px;
	border: 1px #ffffff solid;	
}

hr.form-divisor-line{
	width: 98%;
	float: left;
	position: relative;
	margin-left: 1%;
	margin-right: 1%;
	border: 1px solid;
}

.dropdown-submenu {
    position:relative;
}

.dropdown-submenu > .dropdown-menu {
    top:0;
    left:101%;
    width: 220px !important; 
    margin-top:-6px;
    margin-left:-1px;
}

.dropdown-submenu:hover > .dropdown-menu {
    display:block;
}

.dropdown-submenu>a:after {
    display:block;
    content:" ";
    float:right;
    width:auto;
    height:0;
    margin-top:5px;
    margin-right:-10px;
}

.dropdown-submenu:hover > a:after {
    border-left-color:#ffffff;
}

.dropdown-submenu.pull-left {
    float:none;
}

.dropdown-submenu.pull-left>.dropdown-menu {
    left:-100%;
    margin-left:10px;
}

/*=============================LOGIN=============================*/
/*=====Estilos del Index=====*/
/*Cabecera*/
header,
footer
.fondo-opaco,
#inicio-content,
.cintillo{
	width: 100%;
	float: left;
	position: relative;
}

header{
	background-color: #4682B4;
}

.cintillo{
	/*width: 100%;*/
	min-height: 40px;
	background: #ffffff;
}

.cintillo .container{
	border-bottom: 2px #B21624 solid;
	padding-top: 5px; 
	padding-bottom: 5px;
}

.cintillo figure.pull-right img{
	width: auto;
	height: 46px;
}

#navbar-login{	
	background-color: #4682B4;
}

.navbar-default {
	/*background: transparent;*/
    border: none;
}

a.navbar-brand{
	color: #ffffff !important;
}

img.loading{
	display: none;
	width: 33px;
	height: 33px;
	float: right;
	position: relative;
}

/*Portada*/
#portada{
	width: 100%;
	height: 100%;
	position: absolute;
	/*min-height: 700px;
	margin-top: 90px;*/
	background: transparent url(../img/background_medicina.jpg) 0 0 scroll no-repeat;
	background-size: auto auto;
	background-position: top center;
}
.fondo-opaco{
	/*min-height: 700px;*/
	min-height: 100%;
	padding-top: 190px;
	background: none rgba(0, 0, 0, 0.50) repeat;
}
.fondo-opaco #mensaje{
	width: 100%;
	position: absolute;
	margin-top: -60px;
	background: transparent;
	display: none;
}
 #registro-usuario{
 	padding-top: 20px;
 }

.form-basic{
	float: left;
	position: relative;
	padding-top: 15px;
	padding-bottom: 15px;
	margin-top: 15px;
	margin-bottom: 25px;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
}

.form-horizontal .mensaje,
.form-basic .mensaje{
	width: 100%;	 
	margin-top: -15px;
	position: absolute;
	background: transparent;
	display: block;
}

figure.load-content{
	width: 35px;
	min-height: 35px;
	position: absolute;
	margin: 0 5px;
	left: 160px;
	top: 0;
}
img.loading{
	display: none;
	width: 33px;
	height: 33px;
	float: right;
	position: relative;
}

img.countdown{
	width: 20px;
	height: 20px;
	margin-left: 5px;
	margin-right: 5px;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	border: 1px #56A756 solid;
}

.form-horizontal .mensaje .alert,
.form-basic .mensaje .alert{
	display: table;
	margin: 0 auto;
}

span.red,
span.red2{	
	color: #FF0505;
}

span.red{
	position: absolute;
	margin-left: -10px;
	font-size: 20px;
	font-weight: bold;
}

.fondo-opaco h2,
.fondo-opaco p{
	color: #ffffff;
}

.fondo-opaco p{
	text-align: justify;
}

.fondo-opaco button{
	display: table;
	margin: 30px auto;
}

.modal .modal-header{
	-webkit-border-top-left-radius: 6px;
	-webkit-border-top-right-radius: 6px;
	-moz-border-radius-topleft: 6px;
	-moz-border-radius-topright: 6px;
	border-top-left-radius: 6px;
	border-top-right-radius: 6px;
}

.file-preview{
	background: #ffffff !important;
}

/*=============================PANTALLA PRINCIPAL=============================*/

#head,
#seccion1,
#seccion2,
#seccion3,
#div-noticias,
#div-eventos,
#footer,
#footer2{
	width: 100%;
	float: left;
	position: relative;
	padding: 0px 20px;
}

/*Cabecera*/

#seccion1{
	min-height: 40px;
}

#seccion1 label.nav-titulo{
	text-align: right;
	padding: 5px;
	font-size: 25px;
	font-family: oswaldregular;
}

#nav-menu-principal{
	margin: 0px;
	background: transparent;
	border: none;
	box-shadow: none;
}

.divider{
	margin: 2px 0px !important;
	border: 1px solid;
}


/*----------SECCION 2----------*/

#seccion2{
	padding: 0 !important;
	min-height: 450px;
	background: transparent;
}

#img-carousel{
	width: 100%;
	min-height: 550px;
}

#img-carousel .carousel-control{
	background: transparent !important;
}

.carousel-caption{
	font-family: oswaldregular;
	font-size: 40px;
	color: #F8FCFA;
}

#img-carousel .carousel-inner .item .item-text{	
	position: absolute;
	padding: 20px;
	font-size: 40px;
	font-family: oswaldlight;
	font-weight: lighter;
	color: #ffffff;
	text-shadow: 3px 3px 6px #333333;
}	

#img-carousel > .carousel-inner > .item{
	height: 550px;		
}

.table-buttons{
	margin: 15px 0px;
}

/*----------SECCION 3----------*/
#seccion3{
	min-height: 400px;
	padding: 60px 0 !important;
	/*background: linear-gradient(to bottom, #e7e7e7 17%, #FFFFFF 83%);	*/
}

#seccion3 label.titulo{
	width: 100%;
	float: left;
	position: relative;
	font-size: 35px;
	font-family: oswaldlight;
	font-weight: lighter;
	color: #333333;
}

#seccion3 p.parrafo{
	width: 100%;
	float: left;
	position: relative;
	padding: 10px 0px;
	text-align: justify;
	font-size: 15px;
	font-family: oswaldlight;
	font-weight: lighter;
	color: #333333;
}

.sub-cabecera{
	width: 100%;
	float: left;
	position: relative;
	padding: 20px 10px;
	background: #333333;
}

.sub-cabecera label{
	width: 100%;
	float: left;
	position: relative;
	text-align: center;
	font-size: 25px;
	font-family: oswaldlight;
	font-weight: lighter;
	color: #ffffff;
}

#seccion3 #contenido{
	border-left: 1px solid #333333;
	/*border-right: 1px solid #333333;*/
}

#contenido .info-contenido{
	width: 100%;
	float: left;
	position: relative;
}

#contenido .circle{
	width: 40px;
	height: 40px;
	float: left;
	position: relative;
	padding: 10px;
	background: #333333;
	color: #ffffff;
	font-size: 18px;
	font-weight: bold;
	-webkit-border-radius: 30px;
	-moz-border-radius: 30px;
	border-radius: 30px;
}

#contenido .info-titulo{
	float: left;
	position: relative;
	padding: 0px 10px;
	font-size: 25px;
	font-family: oswaldlight;
	font-weight: lighter;
	color: #333333;
}

#contenido .info-parrafo{
	width: 100%;
	float: left;
	position: relative;
	padding: 15px 0px;
	text-align: justify;
	font-size: 15px;
	font-family: oswaldlight;
	font-weight: lighter;
}


.op-list{
	padding-top: 20px;
	padding-bottom: 20px;
}
.op-list .list-group{
	box-shadow: none !important;
}

.op-list .list-group .list-group-item{
	border: 1px solid #333333;
	background: #EEF7F2;
	color: #00A951;
	font-size: 18px;
	font-family: oswaldregular;
	font-weight: lighter;
}
.op-list .list-group .list-group-item span{
	float: right;
	font-weight: bold;
}
.op-list .list-group .list-group-item:focus,
.op-list .list-group .list-group-item:hover{
	background: #DCEFE5;
}


/*----------Noticias----------*/
#div-noticias{
	/*min-height: 450px;*/
	padding-top: 30px;
	padding-bottom: 60px;
	background: #ffffff;
}
 
#div-noticias .sub-title{
	margin-bottom: 20px;
}

#div-noticias .sub-title .glyphicon{
	color: #212121;
	font-size: 40px;
}

#div-noticias .owl-carousel{
	margin-top: 125px;
	width: 100%;
	height: 430px;
	padding: 10px;
}

#div-noticias .owl-carousel .owl-stage-outer{
	height: 455px;
	padding: 40px 0;
}

.item-noticia{
	width: 100%;
	min-height: 350px;
	float: left;
	position: relative;
	padding: 15px;
	background: #ffffff;
	-webkit-box-shadow: 2px 11px 41px -11px rgba(0,0,0,0.75);
	-moz-box-shadow: 2px 11px 41px -11px rgba(0,0,0,0.75);
	box-shadow: 2px 11px 41px -11px rgba(0,0,0,0.75);
}

.item-noticia figure,
.item-noticia figure img{
	width: 100%;
	float: left;
	position: relative;
}

.item-noticia figure{
	min-height: 50px;
}

.item-noticia figure img{
	height: 150px;
}

.item-noticia .btn-principal-2{
	position: absolute;
	bottom: 15px;
	left: 15px;
}
/*----------Eventos----------*/
#div-eventos{
	/*min-height: 450px;*/
	padding-top: 30px;
	padding-bottom: 60px;
	background: #BDBDBD;
}

#div-eventos .sub-title{
	margin-bottom: 20px;
}

#div-eventos .sub-title .glyphicon{
	color: #212121;
	font-size: 40px;
}

.item-evento{
	width: 100%;
	min-height: 300px;
	float: left;
	position: relative;
	padding: 15px;
	background: #ffffff;
	-webkit-box-shadow: 2px 11px 41px -11px rgba(0,0,0,0.75);
	-moz-box-shadow: 2px 11px 41px -11px rgba(0,0,0,0.75);
	box-shadow: 2px 11px 41px -11px rgba(0,0,0,0.75);
}

#calendar{
	padding: 15px;
	background: #ffffff;
	-webkit-box-shadow: 2px 11px 41px -11px rgba(0,0,0,0.75);
	-moz-box-shadow: 2px 11px 41px -11px rgba(0,0,0,0.75);
	box-shadow: 2px 11px 41px -11px rgba(0,0,0,0.75);
}

.fc-event-container a:hover{ 
	cursor: pointer !important;
}

.item-evento figure,
.item-evento figure img{
	width: 100%;
	float: left;
	position: relative;
}

.item-evento figure{
	min-height: 50px;
}

.item-evento figure img{
	height: 150px;
}

/*----------FOOTER----------*/
#footer{
	min-height: 250px;
	padding: 20px;
	background: #e7e7e7;
}

#footer #contenido{
	border-left: 1px solid #333333;
	border-right: 1px solid #333333;
}

#footer .div-evento{
	width: 100%;
	float: left;
	position: relative;
	padding: 10px 0px;
}

#footer .div-evento .glyphicon{
	color: #333333;
	font-size: 15px;
}

#footer .div-evento .fecha-evento{
	float: left;
	position: relative;
	text-decoration: none;
	color: #777777;
	font-size: 15px;
	font-family: oswaldregular;
	font-weight: lighter;
}

#footer .div-evento .fecha-evento:hover,
#footer .div-evento .fecha-evento:focus{
	color: #333333;
}

#footer .div-evento .desc-evento{
	float: left;
	position: relative;
	text-decoration: none;
	color: #333333;
	font-size: 15px;
	font-family: oswaldregular;
	font-weight: lighter;
}

#footer .div-evento .desc-evento:hover,
#footer .div-evento .desc-evento:focus{
	color: #777777;
}

#footer .div-evento .desc-evento p{
	width: 100%;
	float: left;
	position: relative;
	padding: 10px 0px;
	text-align: justify;
}

#footer .footer-title{
	width: 100%;
	float: left;
	position: relative;
	padding: 10px 5px;
	color: #333333;
	font-size: 22px;
	font-family: oswaldregular;
	font-weight: lighter;
}

#footer .footer-nav-link{
	width: 100%;
	float: left;
	position: relative;
	padding: 10px 5px;
	text-decoration: none;
	color: #333333;
}
#footer .footer-nav-link:hover,
#footer .footer-nav-link:focus{	
	color: #333333;
}
/*----------FOOTER 2----------*/
#footer2{
	background: #333333;
}

#footer2 label{
	width: 100%;
	float: left;
	position: relative;
	padding: 10px;
	color: #ffffff;
	text-align: center;
	font-size: 18px;
	font-family: oswaldregular;
}

/*-----------PERFIL-----------*/
#inicioadm{
	width:100%;
	min-height:525px;
	opacity: 0.9;
	padding: 25px 20px;
	background:#F0F0F0;
	border:0px solid #000000;
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
	margin: 0px auto;
	border-radius:0px;
}

#inicioadm > figure{
	width: 100%;
}

#inicioadm > figure img{
	width: auto;
	height: 400px;	
}
.img-perfil{
	padding-top: 20px;
}
.img-perfil > figure{
	width: 300px;
	height: auto;
	padding: 10px;
	margin: 0 auto;
	display: table;
	border: 5px #4682B4 solid;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	background-color: #CAE6F4;	
}

.img-perfil > figure > img{
	width: 100%;
	float: left;
	position: relative;
}

.user-name{	
	padding: 5px 25px;
	margin: 20px auto;
	display: table;
	font-size: 25px;
	color: #ffffff;
	background-color: #6CBF6C;	
}

#tabla-info{
	padding: 5px 30px 30px;
}

.user-name,
.img-perfil > figure,
#tabla-info table{
	-webkit-box-shadow: 0px 1px 15px 0px rgba(50, 50, 50, 0.62);
	-moz-box-shadow:    0px 1px 15px 0px rgba(50, 50, 50, 0.62);
	box-shadow:         0px 1px 15px 0px rgba(50, 50, 50, 0.62);
}
#tabla-info table,
#tabla-info table > tbody > tr > th, 
#tabla-info table > tbody > tr > td{
	border: 1px #4682B4 solid;
}

#tabla-info table > tbody > tr > th{
	width: 30%;
	text-align: right;
}

#tabla-info table > tbody > tr > td{
	width: 70%;
}
#tabla-info > h3 > span.glyphicon,
#sesiones-content > h3 > span.glyphicon{
	color: #D76519;
}