/*=============================General=============================*/
hr.divisor-line{
	border-color: #00A65A !important;	
}

hr.form-divisor-line{
	border-color: #00A65A !important;
}

.btn-principal{
	background: #00A65A;
	border-color: #00A65A; 
	color: #ffffff;
}

.btn-principal:hover,
.btn-principal:focus,
.btn-principal.focus{
	background: #ffffff;
	color: #00A65A;
}

.btn-second{
	background: #008749;
	border-color: #008749; 
	color: #ffffff;
}

.btn-second:hover,
.btn-second:focus,
.btn-second.focus{
	background: #ffffff;
	color: #008749;
}

.btn-cancel{
	background: #B2DFDB;
	border-color: #B2DFDB; 
	color: #757575;
}

.btn-cancel:hover,
.btn-cancel:focus,
.btn-cancel.focus{
	background: #ffffff;
}

.btn-principal-2{
	background: #ffffff;
	border-color: #00A65A; 
	color: #00A65A !important;
}

.btn-principal-2:hover,
.btn-principal-2:focus,
.btn-principal-2.focus{
	background: #00A65A;
	color: #ffffff !important;
}

.btn-second-2{
	background: #ffffff;
	border-color: #008749; 
	color: #008749;
}

.btn-second-2:hover,
.btn-second-2:focus,
.btn-second-2.focus{
	background: #008749;
	color: #ffffff;
}

.btn-cancel-2{
	background: #ffffff;
	border-color: #B2DFDB; 
	color: #757575;
}

.btn-cancel-2:hover,
.btn-cancel-2:focus,
.btn-cancel-2.focus{
	background: #B2DFDB;
}

.btn-form{
	background: #008749;
	border-color: #008749; 
	color: #ffffff;
}

.btn-form:hover,
.btn-form:focus,
.btn-form.focus{
	background: #00A65A;
	border-color: #00A65A;
	color: #ffffff;
}
/*
table.table > thead > tr > th,
table.table > thead > tr > td,
table.table > tfoot > tr > th, 
table.table > tfoot > tr > td{
	color: #ffffff !important;
	background: #00A65A !important;
}*/

.form-instructions > .istruction-content{
	border: 2px #00A65A solid !important;
	background: #B2DFDB;
}

.form-instructions > .istruction-content > .descripcion > .panel-group > .panel{
	border-color: #00A65A !important;
}

.form-instructions > .istruction-content > .descripcion > .panel-group > .panel > .panel-heading{
	background-color: #00A65A !important;
    border-color: #00A65A !important;
    color: #ffffff !important;
}

.nav-tabs-custom > .nav-tabs > li.active {
    border-top-color: #00A65A !important;
}

/*=============================PANTALLA PRINCIPAL=============================*/
/*Cabecera*/

#seccion1{
	background: #00A65A;
}

#seccion1 label.nav-titulo{
	color: #ffffff;
}

.divider{
	border: 1px solid #008749 !important;
}

#nav-menu-principal #principal-menu ul li a{
	color: #ffffff;
}
#principal-menu > ul > li.dropdown > .dropdown-menu,
#principal-menu > ul > li.dropdown > .dropdown-menu > .dropdown-submenu > .dropdown-menu{
	background: #F8FCFA;	
	border: 1px solid #008749;
}
#principal-menu > ul > li.dropdown > .dropdown-menu > li > a,
#principal-menu > ul > li.dropdown > .dropdown-menu > .dropdown-submenu > .dropdown-menu > li > a{
	font-size: 16px;
	font-family: oswaldlight;
	color: #008749 !important;
}

#principal-menu > ul > li:hover > a,
#principal-menu > ul > li:active > a,
#principal-menu > ul > li.active > a,
#principal-menu > ul > li.open > a,
#principal-menu > ul > li.dropdown > .dropdown-menu > li:hover > a,
#principal-menu > ul > li.dropdown > .dropdown-menu > li:active > a,
#principal-menu > ul > li.dropdown > .dropdown-menu > li.active > a,
#principal-menu > ul > li.dropdown > .dropdown-menu > .dropdown-submenu > .dropdown-menu > li:hover > a,
#principal-menu > ul > li.dropdown > .dropdown-menu > .dropdown-submenu > .dropdown-menu > li:active > a,
#principal-menu > ul > li.dropdown > .dropdown-menu > .dropdown-submenu > .dropdown-menu > li.active > a{
	background: #008749;
	color: #ffffff !important;
}

#principal-menu > .nav > li#usuario > .dropdown-menu > .header-info{
	background: #008749;
	color: #ffffff;
}

#principal-menu > .nav > li#usuario > .dropdown-menu > li:hover > a{
	background: transparent !important;
	color: #008749 !important;
}

#principal-menu > .nav > li#usuario > .dropdown-menu > .header-info > img{
	border: 3px #B2EBF2 solid;
}
/*----------SECCION 2----------*/

#img-carousel .carousel-inner .item #text1{
	width: 100%;
	float: right;
	text-align: right;	
	bottom: 60px;
}

#img-carousel .carousel-inner .item #text2{
	width: 100%;
	max-width: 700px;
	float: right;
	text-align: right;
	top: 80px;
	left: 30%;
	right: 30%;
}

#img-carousel .carousel-inner .item #text3{
	width: 100%;
	max-width: 700px;
	text-align: left;
	top: 80px;
	left: 10%;
}

#img-carousel > .carousel-inner > .item{
	background: url("../img/medicina/healthcaresub.jpg")  no-repeat scroll center center;
	background-size: 100% auto;	
}
#img-carousel > .carousel-inner > .item:first-child{
	background: url("../img/medicina/fondo2.jpg")  no-repeat scroll center center;
	background-size: 100% auto;
}
#img-carousel > .carousel-inner > .item:last-child{
	background: url("../img/medicina/fondo3.jpg")  no-repeat scroll center center;
	background-size: 100% auto;
}

#img-carousel > .carousel-indicators > li{
	border-color: #00A65A;
}
#img-carousel > .carousel-indicators > li.active{
	border-color: #00A65A;
	background: #00A65A;
}

.form-basic{
	border: 2px #00A65A solid !important;
	background: #B2DFDB !important;
}

.form-shadow{
	border: 2px #00A65A solid !important;
	background: #ffffff !important;
}

.paginate_button.active a{
	background: #00A65A !important;
}
/*----------SECCION 3----------*/

#seccion3{
	/*background: linear-gradient(to bottom, #EEF7F2 17%, #FFFFFF 83%) !important;*/	
	background: #ffffff;
}

#seccion3 p.parrafo{
	/*color: #00A65A !important;*/
}

.sub-cabecera{
	margin-top: 20px;
	background: #00A65A !important;
}

#seccion3 #contenido{
	border-left: 1px solid #00A65A !important;
	/*border-right: 1px solid #00A65A !important;*/
}

#contenido .circle{
	background: #00A65A !important;
	color: #ffffff !important;
}

#contenido .info-contenido .info-titulo{
	color: #00A65A !important;
}

/*----------Noticias----------*/

#div-noticias .sub-title .glyphicon{
	color: #212121 !important;
}

/*----------Eventos----------*/
#div-eventos{	
	background: #008749;
}
#div-eventos .sub-title .glyphicon{
	color: #ffffff !important;
}

#imagen-content figure,
#imagen-content figure img{
	width: 100%;
	float: left;
	position: relative;
}

#registro-usuario #imagen-content figure{
 	width: 150px !important;
 	height: 150px !important;
}

#registro-usuario #imagen-content figure img{
	width: 100%;
	height: 100%;
}

#imagen-content figure{
	padding: 2px;
	border: 1px #CCCCCC solid;
	background: #ffffff;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}

#imagen-content figure img{
	height: auto;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}

/*----------FOOTER----------*/

#footer{
	background: #00A65A !important;
}

#footer #contenido{
	border-left: 1px solid #00A65A !important;
	border-right: 1px solid #00A65A !important;
}

#footer .footer-nav-link .glyphicon,
#footer .div-evento .glyphicon,
#footer .div-evento .desc-evento,
#footer .footer-nav-link{
	color: #ffffff !important;
}

#footer .div-evento .fecha-evento{
	color: #212121 !important;
}

#footer .div-evento a.desc-evento:hover,
#footer .div-evento a.desc-evento:focus,
#footer a.footer-nav-link:hover,
#footer a.footer-nav-link:focus{
	color: #212121 !important;
}

/*----------FOOTER 2----------*/
#footer2{
	background: #607D8B;
}

/*-----------MODAL-----------*/
.modal .modal-header{
	background-color: #00A65A !important;
	color: #ffffff !important;
}

.modal .modal-content{
	background-color: #F9F9F9 !important;
}

/*----------PERFIL----------*/
#tabla-info table,
#tabla-info table > tbody > tr > th, 
#tabla-info table > tbody > tr > td{
	border: 1px #00A65A solid;
}

/*----------HISTORIA CLÃNICA----------*/

#sub-historia .nav-tabs > li > a,
#sub-historia .nav-tabs > li.active > a{
	color: #00A65A;
}

#sub-historia .nav-tabs > li > a{
	border-bottom: 1px #00A65A solid !important;
}

#sub-historia .nav-tabs > li.active > a, 
#sub-historia .nav-tabs > li.active > a:focus, 
#sub-historia .nav-tabs > li.active > a:hover{
	-moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background-color: #fff;
    border-color: #00A65A #00A65A transparent !important;
}

.sub-historia-record .panel-group .panel .panel-heading{
	background: #008749;
	color: #ffffff !important;
}

/*----------VACUNAS----------*/

#lista-esquemas{
	padding: 25px;
	border: 1px solid #00A65A;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}

.esquema-content{
	padding: 15px;
	margin-bottom: 10px;
	border: 1px solid #00A65A;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}